body {
  background-color: #282c34;
}

.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 200px;
  height: 130px;
}

h2 {
  color: #cccccc;
}

.bojrooms-intro {
  color: #cccccc;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.bojrooms-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 30px;
  margin: 15px 0;
  border-radius: 33px;
  color: #ffffff;
  background-color: #528bff;
  cursor: pointer;
}

.toggle-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: none;
  background-color: #282c34;
  cursor: pointer;
}
