@font-face {
  font-family: 'Pretendard';
  src: url('./fonts/Pretendard-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('./fonts/Pretendard-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
